.aboutme{
    padding: 10rem 2rem 7rem 2rem;

}

.aboutme h1{
    font-size: 3.1rem;
    color: var(--WhiteColor);
    font-weight: 450;
    padding: 0 15rem 3rem 1rem;
}

.details{
    padding: 10rem 10rem;
}

@media screen and (max-width:468px){
    .aboutme{
        padding: 5rem 1rem 3rem 1rem;
    
    }
    
    .aboutme h1{
        font-size: 1.6rem;
        color: var(--WhiteColor);
        font-weight: 350;
        padding: 0 1rem 3rem 1rem;
    }
    
    .details{
        padding: 5rem 1rem;
    }
    
}