
.pane{
    background-color: var(--BlackColor);
    color: var(--WhiteColor);
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0 5rem 0;
}

.fab{
    font-size: 1.7rem;
}

.con{
    display: flex;
    flex-direction: column;
}

.outlier{
    color:hsla(0, 0%, 100%, .37) ;
}
.outlier:hover{
    color:hsla(0, 0%, 100%, .37) ;

}

.icon{
    color: var(--WhiteColor);
    font-size: 1.3rem;
}
.icon:hover{
    color: var(--WhiteColor);


}

footer a {
    text-decoration: none;
    /* color: var(--WhiteColor); */
    color: #ffffff5e;
}

footer a:hover {
    color: var(--OrangeColor);
}

@media screen and (max-width:1024px){
    .pane{
        background-color: var(--BlackColor);
        color: #FEFCFB;
        padding-top: 5rem;
        padding-bottom: 5rem;
        display:flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-evenly;
    }
    
    .fab{
        font-size: 1.7rem;
    }
    
    .footer-logo{
        justify-self: start;
        cursor: pointer;
        font-size: 1.5rem;
        font-family: 'Pacifico', cursive;
    }
    


}


@media screen and (max-width:640px){
    .pane{
        background-color: var(--BlackColor);
        color:var(--WhiteColor);
        padding: 1rem 0 2rem 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content:left;
        
    }
    
    .fab{
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
    }
    
}