.hero{
    color: var(--WhiteColor);
    padding: 5rem 0 2rem 0 ;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3.4rem;
    font-weight: bolder;
}

h1 span{
    opacity: 78%;
}

.image{
    color: var(--WhiteColor);
}