.hero{
    color: var(--WhiteColor);
    padding: 10rem 0 2rem 0 ;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1{
    font-size: 3.4rem;
    font-weight: bolder;
    
}

small{
  color:var(--WhiteColor);

}

p{
  color: #ffffff5e;
}

a{
    color: var(--OrangeColor);
    
}


h1 span{
    /* opacity: 78%; */
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image{
    color: var(--WhiteColor);
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


.logos {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 60px 0;
    background: var(--BlackColor);
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--BlackColor));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--BlackColor));
  } 
  



  .logos:hover .logos-slide {
  /* animation-play-state:none; */
}

.logos-slide {
  display: inline-flex;
  animation: 15s slide infinite linear;
  overflow: hidden;
}

@media screen and (max-width:465px) {
  .hero{
    color: var(--WhiteColor);
    padding: 5rem 1rem 2rem 1rem ;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  h1{
    font-size: 2.4rem;
    font-weight: bold;
}

h1 span{
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  
}