.btn{
    padding: 0.5rem 1rem;
    color: var(--OrangeColor);
    background-color: var(--BlackColor);
    border:solid 2px var(--OrangeColor);
    border-radius: 1.4rem;
    font-weight:bold ;
}
.btn:hover{
    background-color: var(--WhiteColor);
    border: solid 2px var(--WhiteColor);
    transition: 1s;
}

.btn:not(:hover){
    transition: 1s ease-in-out;
   }