.experience{
  color: var(--WhiteColor);
  padding: 7rem 3rem;
}

.experience h1{
  font-size: 3.5rem;
  font-weight: 500;

}

.experience h3{
  font-size: 2rem;
  padding-bottom: 0;
  font-weight: 500;

}


.cv{
  padding: 3rem 15rem 0 4rem;
}
  