.experience{
  color: var(--WhiteColor);
  padding: 7rem 3rem;
}

.experience h1{
  font-size: 3.5rem;
  font-weight: 500;

}

.experience h3{
  font-size: 2.8rem;
  padding-bottom: 0;
  font-weight: 500;
}

.circle{
  padding: 0.5rem 0.1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--OrangeColor);
}


.cv .cvdetails{
  padding: 1rem 12rem 1rem 0;
}


.cv{
  padding: 4rem 12rem 0 4rem;
}
  


