.splitimage{
    width: 50vw;
    height: 68vh;

}


@media screen and (max-width:1024px){
    .splitimage{
        width: 46vw;
        height: 25vh;
    
    }
    
}

@media screen and (max-width:468px){
    .splitimage{
        width: 88vw;
        height: 28vh;
    
    }
    
}