.blog {
    padding: 1rem 1rem;

}
.blog h3{
    color: var(--WhiteColor);
    font-weight: 400;
    font-size: 1.3rem;
    
}

.blog{
    width: 24rem;
}

.blog small{
    color:#ffffff5e ;
    padding: 1rem 0;
}