.dream{
    color: var(--WhiteColor);
    padding: 5rem 1rem 2rem 1rem ;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dream h3{
    font-size: 2.7rem;
    font-weight: 500;
}

small{
    color:var(--WhiteColor);
  
}

p{
    color: #ffffff5e;
}

a{
    color: var(--OrangeColor);
    
}

a:hover{
    color: var(--WhiteColor);
    transition: 60ms;
}
  
@media screen and (max-width:468px){
    .dream h3{
        font-size: 2.1rem;
        font-weight: 500;
    }

}
